@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    font-family: 'Roboto', sans-serif, Helvetica;
    display: grid;
    grid-template-rows: 1fr 8fr 0.5fr;
}

/* header */

.header {
    background-color: #808080;
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 20px;
}

.welcome {
    font-size: 42px;
    font-weight: bold;
}

.reminder {
    font-style: italic;
}

/* main content */

.main {
    background-color: #a19f9f;
    display: grid;
    grid-template-rows: 1fr 4fr;
}

.add-book {
    display: flex;
    justify-content: center;
    align-items: center;
}

button.add {
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: #a19f9f;
    font-size: 24px;
    font-weight: bold;
}

button.add:hover {
    background-color: #868383;
    cursor: pointer;
}

button.add:active {
    background-color: #8f8c8c;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px;
    gap: 20px;
}

.placeholder {
    height: 400px;
    width: 300px;
    border-radius: 10px;
    background-color: #fff;
    display: grid;
    padding: 10px;
    align-items: center;
}

/* footer */

.footer {
    background-color: #808080;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.github:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);;
}