@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    font-family: 'Roboto', sans-serif, Helvetica;
    display: grid;
    grid-template-rows: 1fr 8fr 0.5fr;
}

/* header */

.header {
    background-color: #808080;
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 20px;
}

.welcome {
    font-size: 42px;
    font-weight: bold;
}

.reminder {
    font-style: italic;
}

/* main content */

.main {
    background-color: #a19f9f;
    display: grid;
    grid-template-rows: 1fr 4fr;
}

.add-book {
    display: flex;
    justify-content: center;
    align-items: center;
}

button.add {
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: #a19f9f;
    font-size: 24px;
    font-weight: bold;
}

button.add:hover {
    background-color: #868383;
    cursor: pointer;
}

button.add:active {
    background-color: #8f8c8c;
}

.cards {
    display: grid;
    justify-self: center;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px;
    gap: 20px;
}

.cards > div {
    height: 400px;
    width: 300px;
    display: grid;
    border-radius: 10px;
    background-color: #fff;
    border: solid 2px #808080;
    display: grid;
    padding: 10px;
    align-items: center;
}

/* footer */

.footer {
    background-color: #808080;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.github:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);;
}

/* add/remove books buttons */

/* The popup form - hidden by default */
.form-popup {
  display: none;
  justify-self: center;
  align-self: center;
  margin-top: -250px;
  position: fixed;
  border: 3px solid black;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  display: grid;
  width: 750px;
  padding: 10px;
  background-color: white;
}

/* input fields */
input[type=text], input[type=number] {
  width: 50%;
  height: 40px;
  padding: 0 10px 0 10px;
  margin: 5px 0 22px 0;
  border: none;
  background: #a19f9f;
  font-size: 16px;
}

input[type=checkbox] {
    justify-self: start;
    margin: 10px;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit button */
.form-container button {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 40%;
  margin-bottom:10px;
  opacity: 0.8;
  border-radius: 10px;
}

/* Add a red background color to the cancel button */
.form-container .btn-cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container button:hover {
  opacity: 1;
}

/* positioning for popup buttons */
.popup-buttons {
    display: flex;
    gap: 40px;
    margin: 40px;
    justify-content: center;
}

#delete-button {
    padding: 10px;
    height: 40px;
    width: 140px;
    background-color: red;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-self: flex-end;
    align-self: flex-end;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    opacity: 0.8;
}

#delete-button:hover {
    opacity: 1.0;
}

#delete-button:active {
    opacity: 0.6;
}